<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Node.js handler -->
            <add name="node" path="dist/index.js" verb="*" modules="IsapiModule, CgiModule" scriptProcessor="C:\Program Files (x86)\nodejs\node.exe|C:\home\site\wwwroot\dist\index.js" resourceType="Unspecified" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Rewrite all routes to Node.js -->
                <rule name="API Routing" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="dist/index.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- Custom error handling -->
        <httpErrors errorMode="Custom">
            <remove statusCode="400" />
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="400" path="/error-pages/400.html" responseMode="ExecuteURL" />
            <error statusCode="404" path="/error-pages/404.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/error-pages/500.html" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Custom error handling for 500 errors -->
        <customErrors mode="On" defaultRedirect="/error-pages/500.html">
            <error statusCode="500" redirect="/error-pages/500.html" />
        </customErrors>
    </system.webServer>
</configuration>
