@import "tailwindcss";

@font-face {
  font-family: 'rosamila';
  src: url('/fonts/Rosamila\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-rosamila: 'rosamila', sans-serif;
}
